//Sass variables

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-light: #ccc;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'vibes' ;
    src: url(/fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family:'Ruh1' ;
    src: url(/fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
    font-family:'Ruh2' ;
    src: url(/fonts/FrankRuhlLibre-Medium.ttf);
}
html {
    font-size: 62.5%;
    // font-size: calc(112.5% + 0.25vw);
    --header1: calc(3rem + 1vw);
    --header2: calc(3rem + 1vw);
    --header2: calc(2.4rem + 1vw);
    --header4: calc(2rem + 1vw);
    --text: clamp(1.5rem, 2vw,  2rem);
    --big: calc(2.4rem + 1vw);
    --special-color: #906272;
    --gray-text: #525252;
    --background-color: #414141;
   
}

body{
    font-family: 'Ruh1', sans-serif;
}

h1 {
    font-family: 'vibes', sans-serif;
    font-size: var(--header1);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4 {
    font-size: var(--header4);
}

li,
button,
label,
input,
p {
    font-size: var(--text);
    // it will stop shrinking at 50% vw
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
