$contrast: high;

body{
    font-family: 'Ruh1', sans-serif;
    @if $contrast == high{
        background: $bg-blue;
        color: $text-color;
    }

    @else if $contrast == low{
        background: white;
        color: $text-color;
    }

    @else{
        background: rgb(156, 37, 180);
    }
   
}