//MIXIN

@mixin warning {
    background: $color-secondary;
    color: $white;
}



@mixin large-text{
    color: $gray-text-color;
    
}

@mixin banner-wrapper{
    min-width: 80vh;
    width: $full-width;
    background: $special-color;
  
    }

    // == MIXINS WITH ARGUMENTS ==
    @mixin rounded($radius, $border){
        @include large-text;
        border-radius: $radius;
        border: $border solid black;
        }

    // ... vararg or variable arguments
    @mixin box-shadow($shadows...){
        box-shadow: $shadows;
        -moz-box-shadow: $shadows;
        -webkit-box-shadow: $shadows;
    }

  



