//MIXIN

@mixin warning{
background: orangered;
color: white;
}

@mixin large-text{
    color: red;
    font: {
        size: 5.5rem;
        family: Arial;
        weight: bold;

    }
}

@mixin rounded(){
    @include large-text;
    border-radius: 2rem;
    }

@mixin banner-wrapper{
    min-width: 80vh;
    width: $full-width;
    background: $special-color;

    }
@mixin blue-beans{
    @if $brand == blue-beans{
        @content;
    }
}

@mixin roger-rovers{
    @if $brand == roger-rovers{
        @content;
    }
}

@mixin pastry-pizza{
    @if $brand == pastry-pizza{
        @content;
    }
}